@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  width: 100%;
}
.bg-area .text{
  color: #000000;
}
.bg-area .text h2{
    font-size: 40px;
}
.bg-area .text h2 span{
  color:red;
}
form{
  width: 100%;
  margin: 0 auto;
}
form input{
  width: 80%;
  border:1px solid #cccccc;
  outline: none;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #000;
  margin-right: 10px;
  transition: 0.5s ease;
  text-transform: lowercase;
}
form input.error{
  border: 1px solid red;
}
form input:focus{
  border: 1px solid #8f8e8e;
}
form input::placeholder{
  font-size: 18px;
}
form button{
  border: none;
  outline: none;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #cccccc;
  padding: 8px;
  cursor:pointer;
  color:#000000;
  transition: 0.5s ease;

}
form button:hover{
  background: #30517B;
  color: #ffffff;
  border-radius: 5px;
}
form button:disabled{
  background: #eeeded;
  color: #969090;
  border-radius: 5px;
  cursor: not-allowed;
}
.result{
  margin: 0 auto;
  transition: 0.5s ease;
  font-family: 'Roboto', sans-serif;
}
.result p{
  padding:10px;
  margin-bottom: 0;
}
.result p a{
  color: red;
}
.result p strong.green{
  color: green;
}
.result p strong.red{
  color: red;
}